*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
     right: 350px;
}

nav
{
    position: relative;
    /* right: 350px; */
    width: 73vw;

    display: flex;
    justify-content: center;
    align-items: center; 
    
}

span
{
    display:inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

span:hover
{
    color: white;
}
.info
{
    min-height: 300px;
}
.info
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 50px 10px;
}

.info > p
{
    font-size: 20px;
}

.info > p:first-child::first-line
{
    font-size: 30px;
}

.adverts
{
    position: fixed;
    width: 350px;
    top: 0;
    right: 0;
    bottom: 0;
    background: #333;
    z-index: 999;
}

.ads
{
    margin: 20px auto;
}

#output
{
    
    width: 73vw;
    right: 350px;
}
